body {
    font-family:Georgia;
}
html,body{
  height: 100%;
}

header {

  background-image: url("../images/graffiti_banner.jpg");
  background-size: cover;
  height: 300px;
  width: 100vw;
  margin-top: 0;
}

footer{
  margin: 25px 25px;
}
h1 {
    font-size: 25px;
    font-family: 'Special Elite', serif;
  	font-size: 48px;
    margin: 0px 25px 25px 25px;
    padding: 25px 0 0 0;
}

h2{
  font-size: 100px;
}
h2,h3{
  width: 100vw;
  font-size: 36px;
  margin: 15px 5px 15px 15px;
}
.name{
  margin: 25px 25px 25px 25px;
  font-size: 25px;
  font-weight: bold;
}
ul {
    list-style:none;
}

header p{
	color: black;
}
nav ul {
  text-transform: uppercase;
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  z-index: 1;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#navbar{z-index: 1;
}
a.active{
  background-color: #047203;
}
li a:hover {
  background-color: #111;
}
main p{
  margin: 15px 5px 15px 15px;
}
main ul{
  margin: 15px 5px 15px 15px;
}
.recipepage{
  margin-left: 5vw;
  margin-bottom: 2vh;
}
.offpage {
    position: absolute;
    left: -1000px;
}
.offpage:focus { 
	position: absolute;
    left: 200px;
    bottom: 505px;
    margin: 5px;
    color: white;
}
.flex-container {
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
img{
  width: 200px;
}
.flex-item {
  padding: 15px;
  width: 60%;
  margin-top: 5px;
  color: black;
  font-size: 12pt;
  text-align: flex-start;
}
div.flex-container img{
  width: 50px;
  height: 50px;
}

.wrapper {
  width: 100vw;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-row-gap: 0;
 
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

img.galleryitem{
	width: 100px;

}

div.flex-container p{
	background-color: white;

}

/*Hide QR code online*/
.qrcode img{
    display: none;
       }



@media only screen and (min-width: 600px) {
  div.flex-container img{
    width: 150px;
    height: 150px;
  }
  h1 {
    font-size: 40px;
  }
  h2,h3{
  font-size: 36px;
  }
  .offpage:focus { 
   left: 500px;
   top: 5px;
   margin: 5px;
  }
  img.galleryitem{
  width: 200px;

}
}


@media only screen and (min-width: 780px) {
  img.galleryitem{
  width: 300px;
  }
  .wrapper {
  width: 100vw;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-column-gap: 0px;
  grid-row-gap: 75px;
  }

  h1 {
    font-size: 48px;
    padding: 50px 0px 0px 0px;
  }
  h2,h3{
  width: 50vw;
  font-size: 40px;
  }
  div.flex-container img{
    width: 200px;
    height: 200px;
  }
  nav ul{
  /*position: fixed;*/
  top: 0;
  width: 100%;
  }
  .offpage:focus { 
   left: 5px;
   top: 300px;
   color: white;
   font-weight: bold;
  }
}


/*Flip Cards*/
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

}

.flip-card-front {
  color: black;
  z-index: 2;
}

.flip-card-back {
  background-color: #047203;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}

/*Sticky Nav Bar*/

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/*QR code in print*/
@media print {
       .qrcode img{
      display: block;  
       }
}

/*Accordion*/

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 70vw;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  display: block;
  font-size: 20pt;
  margin-left: 5vw;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width: 70vw;
  margin-left: 5vw;
}

.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.accordion.active:after {
  content: "\2796";
}

/*Filter List*/
#myInput {
  width: 70vw; 
  font-size: 16px; 
  padding: 12px 20px 12px 40px; 
  border: 1px solid #ddd; 
  margin-bottom: 12px; 
  margin-left: 15vw;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; 
  margin-top: -1px; 
  margin-left: 35vw;
  width: 30vw;
  background-color: #f6f6f6; 
  padding: 12px; 
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
  color: #76a912;
}





